<script type="text/javascript">
    /*<![CDATA[*/
    var linkUrl;

    function openLinkAddDialog() {
        $("#linkDialog").dialog("open").dialog("setTitle", "添加友情链接信息");
        linkUrl = "/admin/link/save";
    }

    function openLinkModifyDialog() {
        var selectedRows = $("#linkDataGrid").datagrid("getSelections");
        if (selectedRows.length != 1) {
            $.messager.alert("系统提示", "请选择一条要编辑的数据！");
            return;
        }
        var row = selectedRows[0];
        $("#linkForm").form("load", row);
        $("#linkDialog").dialog("open").dialog("setTitle", "编辑友情链接信息");
        linkUrl = "/admin/link/save?id=" + row.id;
    }

    function deleteLink() {
        var selectedRows = $("#linkDataGrid").datagrid("getSelections");
        if (selectedRows.length == 0) {
            $.messager.alert("系统提示", "请选择要删除的数据！");
            return;
        }
        var strIds = [];
        for (var i = 0; i < selectedRows.length; i++) {
            strIds.push(selectedRows[i].id);
        }
        var ids = strIds.join(",");
        $.messager.confirm("系统提示", "您确定要删除这<font color='red'>" + selectedRows.length + "</font>条数据吗？", function (r) {
            if (r) {
                $.post("/admin/link/delete", {ids: ids}, function (result) {
                    if (result.success) {
                        $.messager.alert("系统提示", "数据已成功删除！");
                        $("#linkDataGrid").datagrid("reload");
                    } else {
                        $.messager.alert("系统提示", "数据删除失败，请联系管理员！");
                    }
                }, "json");
            }
        });
    }

    function saveLink() {
        $("#linkForm").form("submit", {
            url: linkUrl,
            onSubmit: function () {
                return $(this).form("validate");
            },
            success: function (result) {
                var result = eval('(' + result + ')');
                if (result.success) {
                    $.messager.alert("系统提示", "保存成功！");
                    closeLinkDialog();
                    $("#linkDataGrid").datagrid("reload");
                } else {
                    $.messager.alert("系统提示", "保存失败！");
                }
            }
        });
    }

    function closeLinkDialog() {
        $("#linkDialog").dialog("close");
        resetLinkDialogValue();
    }

    function resetLinkDialogValue() {
        $("#linkName").val("");
        $("#linkUrl").val("");
        $("#linkSort").val("");
    }
    /*]]>*/
</script>
<table id="linkDataGrid" title="友情链接管理" class="easyui-datagrid"
       fitColumns="true" pagination="true" rownumbers="true"
       url="/admin/link/list" fit="true" toolbar="#linkToolBar">
    <thead>
        <tr>
            <th field="cb" checkbox="true" align="center"></th>
            <th field="id" width="50" align="center">主键ID</th>
            <th field="name" width="200" align="center">友情链接名称</th>
            <th field="url" width="200" align="center">友情链接地址</th>
            <th field="sort" width="100" align="center">排列序号</th>
        </tr>
    </thead>
</table>
<div id="linkToolBar">
    <a href="javascript:openLinkAddDialog()" class="easyui-linkbutton" iconCls="icon-add" plain="true">添加</a>
    <a href="javascript:openLinkModifyDialog()" class="easyui-linkbutton" iconCls="icon-edit" plain="true">修改</a>
    <a href="javascript:deleteLink()" class="easyui-linkbutton" iconCls="icon-remove" plain="true">删除</a>
</div>

<div id="linkDialog" class="easyui-dialog" style="width: 500px;height: 200px;padding: 10px 20px"
     closed="true" buttons="#linkDialog-buttons" data-options="onClose:resetLinkDialogValue">
    <form id="linkForm" method="post">
        <table cellspacing="8px">
            <tr>
                <td>友情链接名称：</td>
                <td>
                    <input type="text" id="linkName" name="name" class="easyui-validatebox" required="true"/>
                </td>
            </tr>
            <tr>
                <td>友情链接地址：</td>
                <td>
                    <input type="text" id="linkUrl" name="url" class="easyui-validatebox" validtype="url" required="true"/>
                </td>
            </tr>
            <tr>
                <td>友情链接排序：</td>
                <td>
                    <input type="text" id="linkSort" name="sort" style="width: 60px" class="easyui-numberbox" required="true"/>
                    &nbsp;(友情链接根据排序序号从小到大排序)
                </td>
            </tr>
        </table>
    </form>
</div>
<div id="linkDialog-buttons">
    <a href="javascript:saveLink()" class="easyui-linkbutton" iconCls="icon-ok">保存</a>
    <a href="javascript:closeLinkDialog()" class="easyui-linkbutton" iconCls="icon-cancel">关闭</a>
</div>